button {
    display: block;
    margin: 20px 0;
}
.sombra {
    /*box-shoadow: X Y DESFOQUE COR;*/
    box-shadow: 0px 0px 10px gray;
}
.linha {
    text-decoration: underline;
    text-decoration-color: blue;
    text-decoration-thickness:3px ;
}

/*TRANSITIONS*/
/*SEM TRSNSITION*/
.sem {
    background-color: red;
}
.sem:hover {
    background-color: blue;
}
/*COM TRANSITION*/
.transition{
    background-color: rgba(255, 0, 13, 0.603);
    transition: backgroud-color 1s ease;
}
.transition:hover {
    background-color: rgb(140, 0, 255);
}
img {
    width: 200px;
    transition: width 3s;
}
img:hover {
    width: 400px;
}