body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
  margin: 0;
  font-family: Arial, sans-serif;
}

.menu {
  text-align: center;
}

.menu h1 {
  margin-bottom: 30px;
  color: #333;
}

.menu a {
  display: block;
  text-decoration: none;
  color: white;
  background-color: blue;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  font-size: 18px;
}

.menu a:hover {
  background-color: darkblue;
}
