body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
  margin: 0;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  gap: 10px;
}

.galeria img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
